<div class="category-page category">
    <h1 class="text-primary-emphasis pb-5 mb-3">Расходы</h1>

    <ul class="nav nav-pills d-flex align-items-center fw-medium">
        <div class="row flex-grow-1" id="categoriesNameList">

            <div class="col-12 col-lg-4 col-md-6 mb-3 pb-3 add-category-element" id="add-expenses-element">
                <div class="card">
                    <div class="card-body p-3 m-3 fw-medium text-secondary d-flex align-items-center justify-content-center">
                        <h3>+</h3>
                    </div>
                </div>
            </div>
        </div>
    </ul>

    <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" style="display: none;"
         aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-sm-down text-center">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title fw-medium pb-3 mb-3" id="confirmDeleteLabel">Вы действительно хотите удалить
                        категорию?
                        Связанные расходы будут удалены навсегда.</h5>
                    <div class="modal-action">
                        <a href="javascript:void(0);" class="btn btn-success me-4" id="deleteBtn">Да,
                            удалить</a>
                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="modalClose">Не
                            удалять
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>