<div class="operations-page operations">
    <h1 class="text-primary-emphasis pb-5 mb-3">Доходы и расходы</h1>
    <div class="operations-action">
        <a href="#/operations/create?cat=income" class="btn btn-success me-3 fw-medium">Создать доход</a>
        <a href="#/operations/create?cat=expense" class="btn btn-danger fw-medium">Создать расход</a>
    </div>

    <ul class="filter-tabs nav nav-pills d-flex align-items-center fw-medium">
        <li class="nav-item">
            <button class="filter-param btn btn-sm btn-outline-secondary active fw-medium" type="button" id="today">Сегодня</button>
        </li>
        <li class="nav-item">
            <button class="filter-param btn btn-sm btn-outline-secondary fw-medium" type="button" id="week">Неделя</button>
        </li>
        <li class="nav-item">
            <button class="filter-param btn btn-sm btn-outline-secondary fw-medium" type="button" id="month">Месяц</button>
        </li>
        <li class="nav-item">
            <button class="filter-param btn btn-sm btn-outline-secondary fw-medium" type="button" id="year">Год</button>
        </li>
        <li class="nav-item">
            <button class="filter-param btn btn-sm btn-outline-secondary fw-medium" type="button" id="all">Все</button>
        </li>
        <li class="nav-item d-flex">
            <button class="filter-param btn btn-sm btn-outline-secondary fw-medium me-4" type="button" id="interval">Интервал</button>

            <div class="d-flex align-items-center">
                c
                <a class="ms-4 text-secondary link-offset-2" id="datetimepickerMin" data-td-target="#datetimepickerMin"
                   data-td-toggle="datetimepicker">
                    Дата
                </a>
            </div>
            <div class="ms-5 d-flex align-items-center">
                по
                <a class="ms-4 text-secondary link-offset-2" id="datetimepickerMax" data-td-target="#datetimepickerMax"
                   data-td-toggle="datetimepicker">
                    Дата
                </a>
            </div>
        </li>
    </ul>

    <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" style="display: none;"
         aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-sm-down text-center">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title fw-medium pb-3 mb-3" id="confirmDeleteLabel">Вы действительно хотите удалить операцию?</h5>
                    <div class="modal-action">
                        <a href="javascript:void(0);" class="btn btn-success me-4" id="deleteBtn">Да,
                            удалить</a>
                        <button type="button" data-bs-dismiss="modal" class="btn btn-danger" id="modalClose">Не удалять</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table text-center">
        <thead>
        <tr>
            <th class="fw-bold text-primary-emphasis" scope="col">№ операции</th>
            <th class="fw-bold text-primary-emphasis" scope="col">Тип</th>
            <th class="fw-bold text-primary-emphasis" scope="col">Категория</th>
            <th class="fw-bold text-primary-emphasis" scope="col">Сумма</th>
            <th class="fw-bold text-primary-emphasis" scope="col">Дата</th>
            <th class="fw-bold text-primary-emphasis" scope="col">Комментарий</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="operations-table"></tbody>
    </table>
</div>