<div class="operations-page operations-action-page">
    <h1 class="text-primary-emphasis pb-5 mb-3" id="page-title">Создание дохода/расхода</h1>
    <form>
        <select class="form-select form-input" id="type">
            <option value="income">Доход</option>
            <option value="expense">Расход</option>
        </select>
        <label for="type"></label>

        <select class="form-select form-input" id="categoryList"></select>
        <label for="categoryList"></label>

        <input class="form-control form-input" type="number" placeholder="Сумма в $" id="amount">
        <label for="amount"></label>
        <div class="invalid-feedback"></div>

        <input class="form-control form-input" type="date" id="date">
        <label for="date"></label>
        <div class="invalid-feedback"></div>

        <input class="form-control form-input" type="text" placeholder="Комментарий" id="comment">
        <label for="comment"></label>

        <div class="operations-action">
            <a href="javascript:void(0)" class="btn btn-success me-3 fw-medium" id="action">Создать</a>
            <a href="#/operations" class="btn btn-danger fw-medium">Отмена</a>
        </div>
    </form>
</div>